{% extends 'base.html' %}

{% block content %}
   <div class="stats-container">
       <div class="data-flex">
        {% if top4teams%}
        <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Top four Teams</span>
                    <ul class="collection">
                    {% for value in top4teams %}
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">{{value}}</span>
                        <!-- <span class="new badge">4</span> -->
                      </div>
                    </li>
                    {% endfor %}
                </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}
           
           {% if mostTossWins %}
           <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Most No of Tosses Wins</span>
                  <div class="collapsible-header" style="display:grid;">
                    <span class="title" style="color:gray;">{{mostTossWins.toss_winner}}</span>
                    <p style="color:gray">{{mostTossWins.countoftosswins}}<br>
                   </p>
                </div>
              </div>
            </div>
          </div>
          </div>
           {% endif %}
           
           {% if mostPomWins %}
           <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Maximum Wins of Player of the Match</span>
                  <ul class="collection">
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Name</span>
                        <p style="color:gray">{{mostPomWins.player_of_match}} <br>
                       </p>
                    </div>
                    </li>
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Total POM</span>
                        <p style="color:gray">{{mostPomWins.countofpomwins}} <br>
                       </p>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}
           
           {% if mostTeamWins %}
           <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Team with most wins</span>
                  <ul class="collection">
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Team</span>
                        <p style="color:gray">{{mostTeamWins.winner}}<br>
                       </p>
                    </div>
                    </li>
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Total wins</span>
                        <p style="color:gray">{{mostTeamWins.countofteamwins}}<br>
                       </p>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}
           

           {% if mostVenueWins %}
           <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">location most wins for the {{topTeam}}</span>
                  <ul class="collection">
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Team</span>
                        <p style="color:gray">{{mostVenueWins.venue}}<br>
                       </p>
                    </div>
                    </li>
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Total wins</span>
                        <p style="color:gray">{{mostVenueWins.countofvenuewins}}<br>
                       </p>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}
           
           {% if percOfBats %}
           <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">% of times Batting was chosen</span>
                  <ul class="collection">
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Batting, as the choice on winning the toss in terms of %</span>
                        <p style="color:gray">{{percOfBats}}<br>
                       </p>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}
           
           {% if mostVenue %}
           <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Location hosted most matches</span>
                  <ul class="collection">
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Venue</span>
                        <p style="color:gray">{{mostVenue.venue}}<br>
                       </p>
                    </div>
                    </li>
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Total Hosted</span>
                        <p style="color:gray">{{mostVenue.countofvenue}}<br>
                       </p>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}
           
           {% if maxRunMargin %}
           <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Highest Margin in Runs for a win, for the year {{year}}</span>
                  <ul class="collection">
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Margin</span>
                        <p style="color:gray">{{maxRunMargin.win_by_runs}}<br>
                       </p>
                    </div>
                    </li>
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Winning team</span>
                        <p style="color:gray">{{maxRunMargin.winner}}<br>
                       </p>
                    </div>
                    </li>
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Venue</span>
                        <p style="color:gray">{{maxRunMargin.venue}}<br>
                       </p>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}

           {% if maxWicketMargin %}
           <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Highest Margin in terms of wickets for win, for the particular season</span>
                  <ul class="collection">
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Margin</span>
                        <p style="color:gray">{{maxWicketMargin.win_by_wickets}}<br>
                       </p>
                    </div>
                    </li>
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Winning team</span>
                        <p style="color:gray">{{maxWicketMargin.winner}}<br>
                       </p>
                    </div>
                    </li>
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Venue</span>
                        <p style="color:gray">{{maxWicketMargin.venue}}<br>
                       </p>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}

           {% if totalCountTossAndWins %}
           <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Times when Winning the toss preceeded winning the Game</span>
                  <ul class="collection">
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Count</span>
                        <p style="color:gray">{{totalCountTossAndWins}}<br>
                       </p>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}

           {% if maxRunsHitMatch %}
           <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Most Runs Hit by a Player</span>
                  <ul class="collection">
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Name of the Player</span>
                        <p style="color:gray">{{maxRunsHitMatch.id.batsman}}<br>
                       </p>
                    </div>
                    </li>
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Runs</span>
                        <p style="color:gray">{{maxRunsHitMatch.totalruns}}<br>
                       </p>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}

           {% if maxRunsGiven %}
           <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Most Runs Given in a Match by a Bowler</span>
                  <ul class="collection">
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Name of the Player</span>
                        <p style="color:gray">{{maxRunsGiven.id.bowler}}<br>
                       </p>
                    </div>
                    </li>
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Runs Given</span>
                        <p style="color:gray">{{maxRunsGiven.totalruns}}<br>
                       </p>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}

           {% if maxFielderCatches %}
           <div class="row" style="width:50%;">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Most Catches in one match by a single fielder</span>
                  <ul class="collection">
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Name of the Player</span>
                        <p style="color:gray">{{maxFielderCatches.id.fielder}}<br>
                       </p>
                    </div>
                    </li>
                    <li>
                      <div class="collapsible-header" style="display:grid;">
                        <span class="title" style="color:gray;">Catches</span>
                        <p style="color:gray">{{maxFielderCatches.count}}<br>
                       </p>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           {% endif %}

       </div>
   </div>
{% endblock content %}