.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}

.data-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%
}

.stats-container {
    width:100%;
    max-width:1280px;
}

.col {
    width:90% !important;
}